nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav button {
  margin-top: 5px;
  margin-bottom: 5px;
}

nav button:not(:last-child) {
  margin-right: 10px;
}